<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="email" value="dan.williams@gmail.com"/>
    <parameter name="password" value="1234567a"/>
    <test verbose="2" preserve-order="true"
          name="Test">
        <classes>
            <class name="org.chris.testngtest.SignInWithParametersTest">
                <methods>
                    <include name="signIn"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>